@using T2NSHOP.Models

<input id="emailid" type="email" placeholder="Email" />
<input id="passwordid" type="password" placeholder="Password" />
<a href="#">Forgot your password?</a>
<button id="signinID">Sign In</button>





