@{
    ViewBag.Title = "Login Failure";
}

<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
