@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="container" style="margin-top:180px;margin-bottom:400px;">
    <span style="font-size:20px;">
        Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn. <a href="https://mail.google.com/mail/u/0/"><strong>Bấm vào đây</strong> </a> để đến trang đăng nhập email của bạn!
    </span>
</div>

