
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div style="margin-top: 180px;margin-bottom:400px;margin-left:50px;">
    <h4>@ViewData["Title"]</h4>
    <span>
        Một email đã gửi đến cho bạn, bạn cần mở email làm theo hướng dẫn trong email sau đó
        <a href="https://mail.google.com/mail/u/0/" target="_blank">Bấm vào đây để tiếp tục</a>
    </span>
</div>

