@{
    ViewBag.Title = "Reset password confirmation";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div style="margin-top:180px;margin-bottom:300px;margin-left:80px">
    <p>
        Mật khẩu của bạn đã được thiết lập lại. Vui lòng @Html.ActionLink("click ở đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
